<!DOCTYPE html>
<html>
	<head>
		<script type='text/javascript' src="/vendor/js/jquery-2.1.3.min.js"></script>
		<script type='text/javascript' src="/vendor/js/underscore.js"></script>
		<script type='text/javascript' src="/vendor/js/backbone.js"></script>
		<script type='text/javascript' src="/vendor/js/bootstrap.min.js"></script>
		<script type='text/javascript' src="/vendor/js/jquery.ui.widget.js"></script>
		<script type='text/javascript' src="/vendor/js/jquery.iframe-transport.js"></script>
		<script type='text/javascript' src="/vendor/js/jquery.fileupload.js"></script>

		<link rel="stylesheet" type='text/css' href="/vendor/css/bootstrap.min.css"></script>
		<link rel="stylesheet" type='text/css' href="/assets/css/style.css"></script>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			            <span class="sr-only">Toggle navigation</span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			        </button>
			        <a class="navbar-brand" href="#">
			        	<span>Contact List</span>
			        </a>
				</div>
		        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
		        	<!--
		          <form class="navbar-form navbar-right">
		            <div class="form-group">
		              <input type="text" placeholder="Email" class="form-control">
		            </div>
		            <div class="form-group">
		              <input type="password" placeholder="Password" class="form-control">
		            </div>
		            <button type="submit" class="btn btn-success">Sign in</button>
		          </form>
		      -->	
		      		<div class="directory-function">
		      			<button id="contact-open-form" class="btn btn-success">Add Contact</button>
		      		</div>
		      		
		        </div>
			</div>
		</nav>
		<div class="container" id="contact-directory">
			
			<div class="row" id="contact-directory-list">

			</div>
	    </div>

	      <hr>
	      <footer>
	        <p></p>
	      </footer>
    </div>

    	<script id="contact-item-template" type="text/template">
			<div class="col-xs-12 col-sm-6 col-md-4">
	          	<div class="panel panel-default">
                    <div class="panel-heading" id="head_<%= id %>"data-toggle="collapse" href="#window_<%= id %>" aria-expanded="true" aria-controls="window_<%= id %>">
                        <h4><%= name %></h4>
                        <input type="hidden" class="contact-id" name="contact-id" value="<%= id %>">
                    </div>
                    <div class="panel-body collapse" id="window_<%= id %>">
                    	<div class="contact-photo">
	                    	<img src="<%= photo %>" width="100%"/>
                    	</div>
                    	<div class="contact-detail">
                    		<span class="contact-label">Telephone:</span>
                    		<span class="contact-description"><%= tel %></span>
                    	</div>
                    	<div class="contact-detail">
                    		<span class="contact-label">E-mail Address:</span>
                    		<span class="contact-description"><%= email %></span>
                    	</div>
                    	<div class="contact-detail">
                    		<span class="contact-label">Type:</span>
                    		<span class="contact-description"><%= type %></span>
                    	</div>
                    	<div class="contact-detail">
                    		<p class="contact-label">Address:</p>
                    		<p class="contact-description"><%= address %></p>
                    	</div>
                        <div class="contact-function">
							<button class="btn btn-success contact-edit">
								<i class="glyphicon glyphicon-pencil contact-delete"></i> Update
							</button>
							<button class="btn btn-danger contact-delete">
								<i class="glyphicon glyphicon-trash"></i> Delete
							</button>
                       	</div>
                    </div>
                </div>
	       	</div>
    	</script>
    	<script type="text/html" id="contact-edit-template">
			<div class="col-xs-12 col-sm-6 col-md-4">
	          	<div class="panel panel-default contact">
                    <div class="panel-heading">
                        <input type="text" class="form-control contact-name" placeholder="Enter Contact Name" value="<%= name %>">
                        <input type="hidden" class="contact-id" value="<%= id %>">
                    </div>
                    <div class="panel-body">
                    	<div class="contact-photo">
	                    	<img src="assets/img/default.gif" width="100%" />
	                    	<input type="hidden" class="contact-photo" value="<%= photo %>">
                    	</div>
                    	<div class="contact-detail">
                    		<span class="contact-label">Telephone:</span>
                    		<input type="text" class="form-control contact-telephone" placeholder="Enter Telephone Number" value="<%= tel %>">
                    	</div>
                    	<div class="contact-detail">
                    		<span class="contact-label">E-mail Address:</span>
                    		<input type="email" class="form-control contact-email" placeholder="Enter E-Mail Address" value="<%= email %>">
                    	</div>
                    	<div class="contact-detail">
                    		<p class="contact-label">Type:</p>
                    		<input type="hidden" class="contact-type" value="<%= type %>">
                    	</div>
                    	<div class="contact-detail">
                    		<p class="contact-label">Address:</p>
                    		<textarea class="contact-address"><%= address %></textarea>
                    	</div>
                        <div class="contact-function">
							<button class="btn btn-success contact-save">
								<i class="glyphicon glyphicon-pencil contact-edit-cancel"></i> Save
							</button>
							<button class="btn btn-danger contact-save-cancel">
								<i class="glyphicon glyphicon-trash"></i> Cancel
							</button>
                       	</div>
                    </div>
                </div>
	       	</div>
    	</script>
    	<script type="text/html" id="contact-add-form-template">
    		<div class="row well well-lg"  style="">
				<div class="form">
				  <div class="form-group col-xs-12 col-sm-6 col-md-4">
				    <label for="exampleInputName2">Photo</label>
				    <input type="file" id="contact-photo" placeholder="Jane Doe">
				  </div>
  				  <div class="form-group col-xs-12 col-sm-6 col-md-4">
				    <label for="exampleInputName2">Type</label>
				    <input type="hidden" id="contact-type" value="test">
				  </div>
				  <div class="form-group col-xs-12 col-sm-6 col-md-4">
				    <label for="exampleInputName2">Name</label>
				    <input type="text" class="form-control" id="contact-name" placeholder="Jane Doe">
				  </div>
				  <div class="form-group col-xs-12 col-sm-6 col-md-4">
				    <label for="exampleInputEmail2">Email</label>
				    <input type="email" class="form-control" id="contact-email" placeholder="jane.doe@example.com">
				  </div>
  				  <div class="form-group col-xs-12 col-sm-6 col-md-4">
				    <label for="exampleInputEmail2">Telephone</label>
				    <input type="email" class="form-control" id="contact-telephone" placeholder="jane.doe@example.com">
				  </div>
  				  <div class="form-group col-xs-12 col-sm-6 col-md-4">
				    <label for="exampleInputEmail2">Address</label>
				    <textarea class="form-control" id="contact-address"></textarea>
				  </div>
				  <div class="form-group col-xs-12">
				  	<div class="btn-toolbar text-center" role="toolbar" aria-label="...">
				  		<div class="btn-group">
						  	<button  class="btn btn-success" id="contact-add-save">Save</button>
				  		</div>
				  		<div class="btn-group">
						  	<button  class="btn btn-danger" id="contact-add-cancel">Cancel</button>
				  		</div>
				  	</div>
				  </div>
				</div>
			</div>
    	</script>
		<script type='text/javascript' src="/assets/js/app.js"></script>
		<script type='text/javascript' src="/assets/js/models/contact.js"></script>
		<script type='text/javascript' src="/assets/js/views/contact_view.js"></script>
		<script type='text/javascript' src="/assets/js/views/directory_view.js"></script>
		<script type='text/javascript' src="/assets/js/views/select_type_view.js"></script>
		<script type='text/javascript' src="/assets/js/views/contact_add_view.js"></script>
		<script type='text/javascript' src="/assets/js/collections/contacts.js"></script>
		<script type='text/javascript' src="/assets/js/events.js"></script>
		<script type='text/javascript' src="/assets/js/router.js"></script>

		<script type="text/javascript">
			$(document).ready(function(){
				$('#contact-open-form').on('click', function(){
					if($('#contact-add-form').css('display') === 'none' || !$('#contact-add-form').length){
						var addView = new App.Views.ContactAddView();
						$('#contact-directory').prepend(addView.render().el);
						console.log('trigger get type list');
						App.Events.Dispatcher.trigger('getTypeList');
						
						$('#contact-add-form').slideDown();
						$('html, body').animate({ scrollTop: this.offsetTop}, 'slow');
					}
				});
				$('#contact-photo').fileupload({
			        dataType: 'json',
			        url: 'http://sample.dev/contacts/upload',
			        done: function (e, data) {
			            $.each(data.result.files, function (index, file) {
			                $('<p/>').text(file.name).appendTo(document.body);
			            });
			        }
			    });
			});
			var appRouter = new App.Routers.AppRouter();
			Backbone.history.start();
		

		</script>
	</body>
</html>