body {
	padding-top: 70px;
}

.contact .contact-function a {
	margin: 0px 5px;
}
.contact .contact-function {
	text-align: center;
}
.contact .contact-photo img{
	margin: 0 auto;
	display: block;
}
.contact .contact-photo {
	margin: 10px 0;
}
.contact-label {
	font-weight: bold;
}
.contact-detail {
	border-radius:2px;
	background-color:#eee;
	padding: 15px;
	margin:6px 0px;
}
textarea.contact-address, textarea#contact-address {
	max-width: 100%;
	width: 100%;
	max-height: 60px;
	height: 60px;
}
.contact-description {
	word-wrap: break-word;
}
.directory-function {
	margin: 10px 0px;
	text-align: right;
}

@media (max-width: 767px) {
	.directory-function {
		text-align: center;
	}
	body {
		padding-top: 110px;
	}
	.form {
		margin: 5px 0px;
	}
}
